<mat-card class="employee">
  <mat-card-header>
    <mat-card-title>
      {{ employee.lastName }}, {{ employee.firstName }}
    </mat-card-title>
    <mat-card-subtitle>{{ employee.position }} </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <dl fxLayout="row wrap" fxLayoutGap="16px" class="employee-details">
      <span class="employee-id">
        <dt>Employee ID</dt>
        <dd>{{ employee.id }}</dd>
      </span>

      <span *ngIf="totalReports > 0" class="total-report-count">
        <dt>Total Reports</dt>
        <dd>{{ totalReports }}</dd>
      </span>

      <span *ngIf="employee.compensation !== undefined" class="compensation">
        <dt>Compensation</dt>
        <dd>{{ employee.compensation | currency }}</dd>
      </span>
    </dl>

    <mat-accordian
      *ngIf="directReports.length"
      class="employee-report-container"
    >
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Direct Reports</mat-panel-title>
        </mat-expansion-panel-header>

        <mat-list class="employee-report-list">
          <mat-divider></mat-divider>
          <mat-list-item *ngFor="let emp of directReports">
            <section
              class="report-row"
              fxLayout="row"
              fxLayoutAlign="space-between center"
            >
              <span>
                <h4>{{ emp.firstName }} {{ emp.lastName }}</h4>
                <p>
                  <i>{{ emp.position }}</i>
                </p>
              </span>
              <span>
                <button
                  mat-icon-button
                  aria-label="Button to edit this employee"
                  (click)="edit.emit(emp)"
                  class="edit-dialog-btn"
                >
                  <mat-icon>edit</mat-icon>
                </button>
                <button
                  mat-icon-button
                  aria-label="Button to delete this employee"
                  (click)="delete.emit(emp)"
                  class="delete-dialog-btn"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </span>
            </section>
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordian>
  </mat-card-content>
</mat-card>
